# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example

# Packer
packer_cache/
*.auto.pkrvars.hcl

# Helm
charts/*.tgz

# Python
__pycache__/
*.py[cod]

# Local tooling
.kube/
.vscode/
